# Web frameWorks
fastapi
uvicorn[standard]
python-multipart

langchain
langchain-community
langchain-core
langchain-groq

pinecone

langchain-google-genai

pypdf

python-dotenv

pydantic
requests
tqdm

loguru


# for installation 
# uv pip install -r requirements.txt
